@model List<ItemModel>

<h2>Item List</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Item")
</p>

<div>
    <label for="search">Search:</label>
    <input type="text" id="search" />
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th></th>
    </tr>
    
    @Html.Partial("~/Views/Item/ItemTablePartial.cshtml", Model)
</table>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<script>
    $(function () {
        $("#search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("Search", "Item")",
                    type: "GET",
                    dataType: "html",
                    data: { term: request.term },
                    success: function (data) {
                        // Replace the content of the table with the filtered items
                        $("#itemTable").html(data);
                    }
                });
            },
            minLength: 2
        });
    });
</script>
